@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">HEADER</li>
            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Deshboard</span></a>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Setup Module</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("CategoryCreate", "Category")"><span>Category Setup</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("SuppliersCreate", "Suppliers")"><span>Supplier Setup</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("CustomersCreate", "Customers")"><span>Customer Setup</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("UnitCreate", "Unit")"><span>Unit Setup</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("ItemCreate", "Item")"><span>Item Setup</span></a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Operation Module</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("PurchasemusterCreate", "Purchasemuster")"><span>Purchasemuster</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("PurchasedetailCreate", "Purchasedetail")"><span>Purchasedetails</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("SaleCreate", "Sale")"><span>Sale Entry</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("SalesdetailCreate", "Salesdetail")"><span>SalesDetails Entry</span></a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Invoice Setup</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("PurchasemstCreate", "Purchasemst")"><span>Purchasemst</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("InvoiceCreate", "Invoice")"><span>Invoice</span></a>
                    </li>

                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Report Module</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Report", "StockReports")"><span>StockReport</span></a>
                    </li>

                </ul>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>